body {
  position: relative;
}

/* Style the video: 100% width and height to cover the entire window */
.backgroundVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}

@media (pointer: coarse) and (hover: none) {
  body {
    background: url("../img/bg-mobile-fallback.jpg") #002e66 no-repeat center
      center scroll;
    background-position: cover;
  }
  body video {
    display: none;
  }
}


.navbar {
  background-color:rgba(0,0,0,0.01)
}

.wv-font-logo {
  display: block;
}

.wv-font-logo .w-font-logo {
  font: normal 700 44px Alegreya Sans SC, sans-serif;
  z-index: 1;
}

.wv-font-logo .dot-font-logo {
  font: normal 800 44px Alegreya Sans SC, sans-serif;
  margin: 0em 0em 0em 0.15em;
  z-index: 1;
}

.wv-font-logo .v-font-logo {
  font: italic 100 44px Alegreya Sans SC, sans-serif;
  z-index: 1;
}
